<div class="row  altura"> 
   
    <form [formGroup]="userForm" class="col-sm-8" (ngSubmit)="salvar()">
        <h4>Novo Usuário</h4>
        <div class="form-group " >
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" type="text" formControlName="nome">
        </div>
        <div class="form-group ">
            <label for="sobrenome">Sobrnome</label>
            <input class="form-control" id="sobrenome" type="text" formControlName="sobrenome">
        </div>
        <div class="form-group ">
            <label for="email">Email</label>
            <input class="form-control" id="emial" type="email" formControlName="email">
        </div>
        <div class="form-group ">
            <label for="senha">Senha</label>
            <input class="form-control" id="senha" type="password" formControlName="senha">
        </div>
        <div class="form-group ">
            <label for="resenha">Repetir a Senha</label>
            <input class="form-control" id="resenha" type="password" formControlName="resenha">
        </div>
        <div class="form-group ">

            <button type="button" class="btn btn-danger mr-3" (click)="cancelar()">Cancel</button>
            <button type="submit" class="btn btn-success" >Salvar</button>
        </div>
    </form>
</div>
